################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Daily-Routine/FileContentIndex/10cae9ab-6afc-4889-a1c9-64e58fa2b912.vsidx
/.vs/Daily-Routine/FileContentIndex/21b57fa9-3cba-4aaf-97c6-9f498230f782.vsidx
